# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist/*
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.github
.github/*
dist/assets/Books-2c4d2434.css
dist/assets/Books-2c4d2434.css
.gitignore
dist/assets/index-fa1ecca3.js
.gitignore
dist/assets/Settings-001881d8.js

out
out/*

loading-animation.psd

output.pdf
package-lock.json
